{{ define "main" }}
  {{ $color := "light-blue" }}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          {{ partial "page/section-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         
         {{ $dict := (dict "Color" $color "Data" $.Data) }}
         {{ partial "index/terms-badge.html" $dict }}
         {{ partial "index/terms-box.html" $dict }}
        </article>

      </div>
    </section>

  </main>
{{ end }}
