<section class="aside-wrapper pink">
  <div class="widget white z-depth-3 hoverable">
    <div class="widget-header pink lighten-4">

      <strong>Web/Mobile Development</strong>
      <i class="material-icons right">face</i>

    </div>
    <div class="widget-body">

      <ul class="widget-list">
        {{ range first 5 (shuffle .Site.Data.archives_gitlab) }}
        <li><a href="http://epsi-rns.gitlab.io{{ .url }}">{{ .title }}</a></li>
        {{ end }}
      </ul>

    </div>
  </div>
</section>
