{{ define "main" }}
  {{ $color := "orange" }}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          {{ partial "page/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         
         {{ $posts := where .Site.Pages "Type" "post" }}
         {{ $dict := (dict "Color" $color "Posts" $posts) }}
         {{ partial "index/by-month.html" $dict }}
        </article>

      </div>
    </section>

  </main>
{{ end }}
