
<div class="p-b-10">

    <!-- Previous Page. -->
    {{ if .Page.PrevPage }}
      <span class="left">
      <a href="{{ .Page.PrevPage.URL | absURL }}"
         title="{{ .Page.PrevPage.Title }}">
        <i class="material-icons left">chevron_left</i>Previous</a>
      </span>
    {{ end }}

    {{ if .Page.NextPage }}
      <span class="right">
      <a href="{{ .Page.NextPage.URL | absURL }}" 
         title="{{ .Page.NextPage.Title }}">
        <i class="material-icons right">chevron_right</i>Next</a>
      </span>
    {{ end }}
    
    <div class="clearfix"></div>

</div>
